$white: #fff;
$off_blue: #3e52a3;
$light_shadow: rgba(0, 0, 0, 0.1);
$regular_shadow: rgba(0, 0, 0, 0.2);
$blue_shadow: rgba(16, 49, 182, 0.2);
$darker_shadow: rgba(0, 0, 0, 0.7);

$soft_blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyan_5: hsla(178, 100%, 50%, 0.5);
$main_bg: hsl(217, 54%, 11%);
$card_bg: hsl(216, 50%, 16%);
$line_color: hsl(215, 32%, 27%);
